{% extends "base.html" %}

{% block content %}
    <style>
        /* Custom styling for the image */
        .background-image {
            position: absolute;
            top: 136.5px; /* Adjust based on your navbar height */
            left: 0;
            width: 100%;
            height: calc(100vh - 70px - 1.7cm); /* Adjust for footer height */
            background-image: url('static/BG1.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>

    <div class="background-image"></div>
    {% if error %}
         <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <!-- Rest of the content -->
{% endblock %}