{% extends "base.html" %}

{% block content %}
<style>
    /* Custom styling for prediction container */
    .prediction-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh; /* Adjust the minimum height based on your preference */
        background-color: #000;
        color: #fff; /* Set text color to white */
        padding: 20px; /* Add padding for spacing */
    }

    /* Styling for the upload label */
    .upload-label {
    margin-bottom: 20px;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.3s ease;
    }

    .upload-label:hover {
    color: #06b0f3fa;
    font-size: 20px;
    font-weight: 500;
    }

    /* Styling for file input */
    #image-upload {
        display: none; /* Hide the default file input */
    }

    /* Styling for predict button */
    .predict-button {
        padding: 10px 20px;
        background-color: #2c264efa;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .predict-button:hover {
        background-color: #fff;
        color: #2c264efa;
    }

    /* Styling for prediction result */
    .prediction-result {
        margin-top: 20px;
        text-align: center;
    }

    .prediction-result p {
        color: #fff;
        margin-bottom: 10px; /* Add spacing below paragraphs */
    }

    .prediction-result img {
        max-width: 100%;
        height: auto;
        border: 2px solid #fff;
        border-radius: 5px;
    }
</style>

<div class="prediction-container">
    <form method="POST" enctype="multipart/form-data" id="prediction-form">
        <label for="image-upload" class="upload-label">
            Choose an MRI Image:
            <input type="file" id="image-upload" name="image" accept="image/*" required>
        </label>
        <button type="submit" class="predict-button">Predict</button>
    </form>
    {% if predicted_class %}
        <div class="prediction-result">
            <p>Predicted Class: {{ predicted_class }}</p>
            <p>Confidence: {{ "{:.2f}".format(confidence) }}%</p>
        </div>
    {% endif %}
    <div class="prediction-result">
        <img id="image-preview" src="#" alt="Prediction Plot" style="display: none;">
    </div>
</div>

<script>
    document.getElementById('image-upload').addEventListener('change', function() {
        var file = this.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var imagePreview = document.getElementById('image-preview');
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}
